.grid-container {
    display:grid;
    grid-template-columns: [col] 3fr [col] 3fr [col] 3fr ;
    grid-template-rows: [row] auto [row] auto [row] ;
    grid-template-areas: "feature-content feature-content feature-content"
                         "two-third-area two-third-area single";
    grid-gap: 10px;
    background-color: #fff;
    color: 444;
    margin: 2em;
    max-width: 940px;
}
.box-light {
    background-color: #cccccc;
}
.box-med {
    background-color: #b2b2b2;
}
.box-ligth {
    background-color: #989898;
}

.feature-content {
    grid-area: feature-content;
    grid-column: col / span 3;
    grid-row: row;
}
.two-third-area {
    grid-column: col / span 2;
    grid-row: 2;
}
.single {
    grid-column: col 3 / span 1;
    grid-row: 2;
}